@model DetailsProductViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="mt-8">
    <div class="col-xl-7 col-lg-8 col-11 mx-auto card shadow-lg">
        <div class="card-body py-md-5 px-md-6 p-3 mb-xl-0">
            <div class="card card-blog card-plain">
                <div class="col-md-10 mx-auto h-75">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner rounded-3">
                            @foreach (string link in Model.PhotoLinks)
                            {
                                <div class="carousel-item @(Model.PhotoLinks.First() == link ? "active" : "")">
                                    @*<img src="@link" class="d-block w-100" alt="...">*@
                                    <img src="@link" class="w-100" style="height: 400px; " alt="...">
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="card-body px-1 pb-0">
                    <div class="row mb-2 pe-5">
                        <div class="col-6 text-gradient text-dark text-sm">
                            <span class="fa fa-map-marker"></span>
                            @Model.Address
                        </div>
                        <div class="col-6 text-gradient text-dark text-end">
                            <span class="fa @Model.CategoryIcon"></span>
                            @Model.CategoryName
                        </div>
                    </div>
                    <h5>@Model.Name</h5>
                    <p class="mb-4 text-sm">@Model.Details</p>
                    <div class="row">
                        <div class="col-md-10 col-sm-12 d-flex pe-3">
                            <div class="col-auto">
                                <a asp-controller="User" asp-action="Details"  asp-route-id="@Model.GrantorId">
                                    <div class="row">
                                        <div class="col-auto">
                                            <div class="avatar rounded-circle d-flex">
                                                <img src="@Model.GrantorPhotoURL" alt="profile_image" class="w-100 mb-0 border-radius-lg shadow-sm">
                                            </div>
                                        </div>
                                        <div class="col-auto my-auto">
                                            <h5 class="m-0">@Model.GrantorName</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col d-flex justify-content-end">
                                <button type="button" class="btn btn-outline-primary btn-sm w-75 my-auto">Message</button>
                            </div>
                        </div>
                        <div class="col-md-auto col-sm-12">
                            <div class="avatar-group mt-2">
                                <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Elena Morison">
                                    <img alt="Image placeholder" src="../assets/img/team-1.jpg">
                                </a>
                                <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ryan Milly">
                                    <img alt="Image placeholder" src="../assets/img/team-2.jpg">
                                </a>
                                <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Nick Daniel">
                                    <img alt="Image placeholder" src="../assets/img/team-3.jpg">
                                </a>
                                <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Peterson">
                                    <img alt="Image placeholder" src="../assets/img/team-4.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>