@model IndexViewModel
<div class="container-fluid">
    <div class="container pt-8">
        <div class="">
            <ul class="nav nav-justified">
                @foreach (ListCategoryViewModel category in @Model.ListCategoryViewModel)
                {
                    <li class="nav-item me-2">
                        <a class="card-link text-white" href="#">
                            <div class="category-card rounded-3 shadow anim-grow bg-gradient-dark">
                                <span class="fa @category.FontAwesomeIconName fa-2x"></span>
                                <span class="category-card-title">@category.Name</span>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>

        <div class="col-12 mt-4 shadow-lg">
            <div class="card mb-4">
                <div class="card-body p-3">
                    <div class="row">
                        @*@foreach (var product in Model)*@
                        @for (int i = 0; i < 10; i++)
                        {
                            <div class="col-xl-4 col-md-6 mb-xl-0 my-6">
                                <div class="card card-blog card-plain shadow-lg">
                                    <div class="position-relative">
                                        <a class="d-block shadow-xl border-radius-xl">
                                            <img src="/assets/img/home-decor-1.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-xl">
                                        </a>
                                    </div>
                                    <div class="card-body p-3">
                                        <p class="text-gradient text-dark mb-2 text-sm">Address</p>
                                        @*<p class="text-gradient text-dark mb-2 text-sm">@product.Address</p>*@
                                        <a href="javascript:;">
                                            @*<h5>@product.Name</h5>*@
                                            <h5>Name</h5>
                                        </a>
                                        @*<p class="mb-4 text-sm">@product.Details</p>*@
                                        <p class="mb-4 text-sm">Details</p>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <button type="button" class="btn btn-outline-primary btn-sm mb-0">View Project</button>
                                            <div class="avatar-group mt-2">
                                                <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Elena Morison">
                                                    <img alt="Image placeholder" src="../assets/img/team-1.jpg">
                                                </a>
                                                <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ryan Milly">
                                                    <img alt="Image placeholder" src="../assets/img/team-2.jpg">
                                                </a>
                                                <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Nick Daniel">
                                                    <img alt="Image placeholder" src="../assets/img/team-3.jpg">
                                                </a>
                                                <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Peterson">
                                                    <img alt="Image placeholder" src="../assets/img/team-4.jpg">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
