@using static Sidekick.NET.Types
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<ListCategoryViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="row col-12 mx-auto">
    <div class="card mb-4">
        <div class="card-header pb-0">
            <div class="row mb-4 me-4">
                <h6 class="col">Categories</h6>
                <a asp-action="Create" class="col-auto btn bg-gradient-success text-end">
                    <span class="fa fa-plus">&nbsp;</span>
                    Create New Category
                </a>
            </div>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                            <th class="d-md-table-cell d-none text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date Modified</th>
                            <th class="d-md-table-cell d-none text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date Created</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                            <th class="text-secondary opacity-7"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ListCategoryViewModel category in Model)
                        {
                            <tr>
                                <td>
                                    <div class="row d-flex align-items-center">
                                        <div class="col-lg-3 col-5 d-flex justify-content-center align-items-center">
                                            <span class="fa @category.FontAwesomeIconName fa-2x m-0"></span>
                                        </div>
                                        <div class="col">
                                            <h6 class="mb-0 text-sm">@category.Name</h6>
                                            <p class="text-xs text-secondary mb-0">ID: @category.Id</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="d-md-table-cell d-none align-middle text-center">
                                    <h6 class="text-secondary text-xs font-weight-bold">@category.DateModified</h6>
                                </td>
                                <td class="d-md-table-cell d-none align-middle text-center">
                                    <h6 class="text-secondary text-xs font-weight-bold">@category.DateCreated</h6>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    @{
                                        string styleClass = category.Status switch
                                        {
                                            CategoryStatus.ACTIVE => "bg-gradient-success",
                                            CategoryStatus.PASSIVE => "bg-gradient-secondary",
                                            _ => "bg-gradient-secondary"
                                        };
                                        <span class="badge badge-sm @styleClass">@category.Status</span>
                                    }
                                </td>
                                <td class="align-middle">
                                    <a asp-action="Edit" asp-route-id="@category.Id" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                        Edit
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            @(Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
                    new PagedListRenderOptions
                    {
                        UlElementClasses = new string [] { "pagination" },
                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new string [] { "page-link" },
                        MaximumPageNumbersToDisplay = 5,
                        Display = PagedListDisplayMode.IfNeeded
                    }))
        </div>
    </div>
</div>